

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    transition-duration: 1.5s;
}

body:hover{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 20, 20);
    transition-duration: 1.5s;
}


.img-headline{
    margin-left: 10%;
    text-align: center;
    height: 100%;
}


.header img{
    max-width: 100%;
    width: 40%;
    margin-top: 5%;
}

.header img:hover{
    width: 50%;
    transition-duration: 0.3s;
    margin-top: 0.5%;
}

.header img:not(:hover){
    width: 40%;
    transition-duration: 0.3s;
}