<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cadastro.css" />
  </head>
  <body>
    <section class="container">
      <header>Cadastro</header>
      <form action="#" class="form">
        <div class="input-box">
          <label>Nome</label>
          <input type="text" placeholder="Nome Completo" required />
        </div>
        <div class="input-box">
          <label>Email</label>
          <input type="text" placeholder="Email" required />
        </div>
        <div class="input-box">
            <label>Senha</label>
            <input type="password" placeholder="Senha" required />
        </div>
        <div class="input-box">
            <label>CPF ou CNPJ</label>
            <input type="text" placeholder="CPF ou CNPJ" required />
          </div>
        <div class="input-box">
          <label>Data de Nascimento</label>
          <input type="date" placeholder="Data de Nascimento" required />
        </div>
        <button>Cadastrar-se</button>
      </form>
    </section>
  </body>
</html>