<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site colocando em pratica HTML e CSS">
    <meta name="keywords" content="Agencia Digital, CSS, HTML">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../Imagens/logo panda.jpg" type="image/png">
    <title>Pandas da Fiel</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="home.html">Pandas da Fiel</a>
        </div>
        <div class="menu">
            <a href="login.html">Login</a>
            <a id="botao" href="../view/cadastro.html">Cadastrar-se</a>                                                     
        </div>
    </nav>
    <header class="header">
        <div class="headline">
            <h2>Time do Povo!</h2>
            <p>O Pandas é mais que um time, é uma nação, uma paixão que corre nas veias,<br>meu coração é de pai, de mãe e dos Pandas.</p>
        </div>
        <div class="img-headline">
            <img src="../Imagens/logo panda.png.png">
        </div>
    </header>
    <section>
        <h2>Um pouco da nossa historia!</h2>
        <div class="servicos">
            <div class="card">
                <div class="card-text">
                    <h3>Origem</h3>
                    <p>Descubra a origem do Time do Povo!</p>
                </div>
                <div class="texto-oculto">
                    <p>Criado em 2024, Pandas da Fiel é um grupo/time criado e pensando por um grupo seleto de amigos de faculdade. No inicio era apenas por diverão, porém com a proporção alcançada abriram espaço para mais pessoas, tornando-se um clube reconhecido pelo povo.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-text">
                    <h3>Esportes</h3>
                    <p>Esportes em que a organização se destaca!</p>
                </div>
                <div class="texto-oculto">
                    <p>O principal esporte onde o Pandas da Fiel se destaca, sem dúvidas, é no Futebol. Há também bastante destaque no Basquete, Vôlei e E-esports. Cada esporte possui seus principais fundadores, sendo eles: Secco (Futebol), Jhonny (Basquete), Samuel(Vôlei) e Vinicius (E-esports).</p>
                </div>
            </div>
            <div class="card">
                <div class="card-text">
                    <h3>Seja membro</h3>                                                                                  
                    <p>Como se tornar membro dos Pandas da Fiel e não perca nenhuma novidade!</p>
            </div>
            <div class="texto-oculto">
                <h3>Outro conteudo qualquer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ducimus rerum dolor velit corrupti sit dignissimos doloribus tenetur quos inventore, dolorum aspernatur sint quaerat repudiandae quibusdam dicta animi nisi vitae?</p>
            </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="logo-rodape">
            <h1 class="agencia">Pandas da Fiel</h1>
            <p>São muitos os nomes, mas pode chamar de maior do mundo!</p> 
            <img class="logo_bot" src="../Imagens/logo panda.png.png""> 
        </div>
        <b>© Todos os direitos reservados</b>
    </footer>
</body>
</html>