<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Imagens/logo panda.png.png" type="image/png">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="../view/home.html">Pandas da Fiel</a>
        </div>
        <div class="menu">
            <a href="../view/endereco.html">Cadastrar endereço</a>                                                     
        </div>
    </nav>  
    <h1>Listagem de endereço</h1>
    <div id="endereco-table"></div>
    <script src="../script/home.js"></script>
</body>
</html>